*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    background-color: #33658A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.menu {
    position: relative;
}

.icone-menu {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.cabecalho{
    width: 100%;
    height: 130px;
    background-color:#1A3342;
    
}

.navbar h1 {
    display: flex;
    justify-content: center;
}


#comodos ul{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    list-style: none;
    flex-wrap: wrap;
}

#lugar {
    background-color: rgba(41, 84, 95, 0.452);
    margin: 20px ;
    height: 350px;
    width: 250px;
    padding: 10px;
}

.titulo{
    background-color: rgb(225, 240, 255);
}

.grafico-sala{
    display: flex;

}

.grafico-cozinha{
    display: flex;

}

.grafico-quarto_principal{
    display: flex;

}

.grafico-outros_comodos{
    display: flex;

}


.card_grafico{
    background-color: rgb(99, 99, 105);
    width: 230px;
    height: 303px;
    
}

.aparelho_1{
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.aparelho_2{
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.aparelho_3{
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.coluna{
    background-color: rgb(5, 5, 4);
    height: 100px;
    width: 50px;
}

.bars-icon {
    padding: 10px;
    color:rgb(206, 198, 198);
    transition: all 0.3s ease-in-out;
    width: fit-content;
    margin-left: auto;
}

.bars-icon i {
    font-size: 40px;
}

.menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 10px;
    width: 150px;
    list-style: none;
    background-color: rgb(134, 140, 145);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(68, 65, 64, 0.521);
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s ease-in;
}

.bars-icon:hover .menu{
    visibility: visible;
    opacity: 1;
}

h4{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

#a {
    text-decoration: none;
    color: white;
}

#coluna1 {
    height: 60px;
}
#coluna2 {
    height: 160px;
}
#coluna3 {
    height: 80px;
}
#coluna4 {
    height: 100px;
}
#coluna5 {
    height: 10px;
}
#coluna6 {
    height: 180px;
}
#coluna7 {
    height: 50px;
}
#coluna8 {
    height: 125px;
}
#coluna9 {
    height: 55px;
}
#coluna10 {
    height: 220px;
}
#coluna11 {
    height: 40px;
}
#coluna12 {
    height: 190px;
}