*{
    margin: 0;
    box-sizing: border-box;

}
 body {
     margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100dvh;
    background-color: #33658A; 
    }

#cabecalho {
    background: #1A3342;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#lampada{
border-radius: 50%;
}
#menu {
    border-radius: 10px;
}

#main {
   display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
}

#card_login {
    background-color: #78a6c9;
    width: 340px;
    padding: 30px;
    border-radius: 16px;
}

#card_login h1 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

#card_login label {
    display: block;
    margin-bottom: 5px;
}

#card_login input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 16px;
}


#botao_login {
    display: block;
    margin: 10px auto;
    padding: 8px 14px;
    background-color: #48c5dc;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#criar_conta {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}